{{>client_header}}
<style type="text/css">
  h2{
    color: blue;
  }
  thead{
    color: green;
  }
  a {
  text-decoration: none;
}
</style>
<p style="color:green; font-weight: bold; ">{{success}}</p>
<table class="table table-striped">
<h2>Uncofirmed Bookings</h2>
  <thead>
    <tr>
      <th scope="col">S/N</th>
      <th scope="col">Your Name</th>
      <th scope="col">Property Name</th>
      <th scope="col">Booking Date</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Action</th> -->
    </tr>
  </thead>
  <tbody>
    {{#each bookings}}
     
    <tr>
        
      <th scope="row">{{@index}} </th>
      <td>{{full_name}}</td>
      <td>{{property_name}}</td>
      <td>{{booking_date}}</td>
      <td>{{amount}}</td>
     <!-- <td><a class="btn btn-success" href="/client_payment_form?id={{booking_id}}&pi={{property_id}}">Add Payment</a></td> -->
    </tr>
   {{/each}}
    
  </tbody>

</table>
<table class="table table-striped">
<h2>Properties Paid For</h2>
  <thead>
    <tr>
      <th scope="col">S/N</th>
      <th scope="col">Your Name</th>
      <th scope="col">Property Name</th>
      <th scope="col">Payment Date</th>
      <th scope="col">Amount Paid</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each payments}}
     
    <tr>
        
      <th scope="row">{{@index}} </th>
      <td>{{full_name}}</td>
      <td>{{property_name}}</td>
      <td>{{payment_date}}</td>
      <td>{{amount}}</td>
      <td><a class="btn btn-success" href="/print_receipt?id={{payment_id}}">Print Receipt</a></td>
    </tr>
   {{/each}}
    
  </tbody>

</table>
{{>footer}}