<style type="text/css">
  h2{
    color: blue;
  }
  thead{
    color: green;
  }
  a {
  text-decoration: none;
}
</style>
{{> staff_header}}
<div class="row1" id="all">
<a class="btn btn-success" href="/staff_add_property">Add Property</a>
    <h2>All Properties</h2>
         {{#each results}}
    <div class="column">
     <div class="card">
        <img class="house" src="/assets/images/property/{{image}}">
      <h3>{{ project_name }}</h3>
      <p>Located in {{ location }}</p>
      <p style="color: green;">{{ category }} for  {{type}}</p>
      <p style="color: blue;">{{ remaining_units }} units remaining </p>
      {{#if type.rent}}
      <p>KES. {{ amount }} per month</p>
      {{else}}
      <p>KES. {{ amount }}</p>
      {{/if}}
      {{#if bedrooms}}
      <p>{{bedrooms}} bedrooms</p>
      {{else}}
      <p></p><p></p>
      {{/if}}
      <a class="btn btn-success" href="/staff_edit_property?id={{property_id}}">Edit Property</a>
     </div>
    </div>
        
        {{/each}}
  </div>