{{> staff_header}}
{{#each results}}
 <form action="/updateProperty" method="post" enctype="multipart/form-data">
        
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Edit Property</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
             <label>Project Name</label>
               <div class="form-group">
                   <input type="text" name="property_name" class="form-control" value="{{property_name}}" required>
               </div>
              <label>Description</label>
               <div class="form-group">
                   <textarea name="description" class="form-control" required> {{description}}</textarea>
               </div>
               <label>Add More Units</label>
               <div class="form-group">
                   <input type="number" name="more_units" class="form-control" value="0" min="0"  required>
               </div>
               <label>Price</label>
               <div class="form-group">
                   <input type="number" name="price" class="form-control" value="{{amount}}" required>
               </div>
               <label>Location</label>
               <div class="form-group">
                   <select name="location" class="form-control" id="cities"  >
                                            <option value="{{location}}">{{location}}</option>
                                            <option value="Nairobi">Nairobi</option>
                                            <option value="Kisumu">Kisumu</option>
                                            <option value="Mombasa">Mombasa</option>
                                            <option value="Nakuru">Nakuru</option>
                                            <option value="Naivasha">Naivasha</option>
                                            <option value="Kakamega">Kakamega</option>
                                            <option value="Busia">Busia</option>
                                            <option value="Kajiado">Kajiado</option>
                                            <option value="Kiambu">Kiambu</option>
                                            <option value="Other">Other</option>
                    </select>
                                    
               </div>
               <label>Category</label>
               <div class="form-group">
                   <select name="category" class="form-control" id="category"  >
                                            <option value="{{category}}">{{category}}</option>
                                            <option value="land">Land</option>
                                            <option value="house">House/Home</option>
                                            <option value="office">Office</option>
                                            
                   </select>
                                    
               </div>
               <label>Type(Rent/Sale/Lease)</label>
               <div class="form-group">
                   <select name="type" class="form-control" id="type"  >
                                            <option value="{{type}}">{{type}}</option>
                                            <option value="rent">Rent</option>
                                            <option value="sale">Sale</option>
                                            <option value="lease">Lease</option>
                                            
                                            
                   </select>
                                    
               </div>
               <div style="display: none;" id="bed" class="form-group">
               <label>Number of bedrooms</label>
                   <input type="number" name="bedrooms" class="form-control" value="{{bedrooms}}" >
               </div>
               <input type="hidden" name="total_units" value="{{total_units}}">
               <input type="hidden" name="remaining_units" value="{{remaining_units}}">
               <input type="hidden" name="property_id" value="{{property_id}}">
               

             </div>
             <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Update Property</button>
             </div>
           </div>
         </div>
       
     </form>
     {{/each}}